<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p> Welcome to the CDO-DigitalConsulting group.</p>
    <p>This is version node.js 10.1 of this web application.</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Learn more</a></li>
    </ul>
  </div>
</section>
